body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 3em;
  color: red;
  text-shadow: 0 0 5px red, 0 0 10px yellow, 0 0 15px yellow;
}

p {
  font-size: 1.5em;
  color: yellow;
  text-shadow: 0 0 5px yellow, 0 0 10px red;
}

audio {
  margin-top: 20px;
}
